<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fy.mobile.mapper.user.BuyMapper">
    <!--添加需求-->
    <insert id="insertBuyNeed">
        insert into fy_need_publish(publisher_id, publisher_name, need_title, need_description,publish_time)
        values (#{userId}, #{nickname}, #{title}, #{description}, #{publishTime});
    </insert>
    <!--添加需求留言-->
    <insert id="insertBuyNeedMessage">
        insert into fy_message(message, message_type, message_publisher_id, message_publisher_name, need_sell_id, publish_time)
        values (#{message}, #{messageType}, ${messagePublisherId}, #{messagePublisherName}, #{needSellId}, #{publishTime})
    </insert>
    <select id="listIndexBuyNeeds" resultType="com.fy.mobile.entity.user.IndexBuyNeedDTO">
        select need_id needId,
        publisher_name publisherName,
        publisher_id publisherId,
        need_title title,
        comment_no commentNo,
        publish_time publishTime
        from fy_need_publish
        ORDER BY publish_time
        limit 8;
    </select>
    <select id="getBuyNeedInfo" resultType="com.fy.mobile.entity.user.BuyNeedDetail">
        select need_id, publisher_id, publisher_name, need_title, need_description,publish_time from fy_need_publish
        where need_id = #{needId};
    </select>
    <!--获取需求所有留言-->
    <select id="listAllMessageInNeed" resultType="com.fy.mobile.entity.user.Message">
        select * from fy_message
        where message_type = 0
        and need_sell_id = #{needId}
        order by publish_time desc;
    </select>
    <!--获取我的需求-->
    <select id="listMyNeed" resultType="com.fy.mobile.entity.user.BuyNeedDetail">
        select * from fy_need_publish
        where publisher_id = #{userId}
        order by need_id desc
        <if test="orderColumn != null and orderColumn !='' and orderType != null and orderType != '' ">
            , ${orderColumn} ${orderType}
        </if>
    </select>
</mapper>