<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fy.mobile.mapper.user.SellMapper">
    <!--添加需求-->
    <insert id="insertSellPublish">
        insert into fy_sell_publish(publisher_id, publisher_name, sell_title, sell_description,publish_time, image, sell_price, brand_name)
        values (#{publisherId}, #{publisherName}, #{sellTitle}, #{sellDescription}, #{publishTime}, #{image}, #{sellPrice}, #{brandName});
    </insert>
    <update id="updateSellItemState">
        update fy_sell_publish set state = #{state}
        where sell_id = #{sellId}
    </update>
    <select id="listTop8SellItem" resultType="com.fy.mobile.entity.user.IndexSellItem">
        select sell_id,
        sell_title,
        sell_description,
        image,
        sell_price
        from fy_sell_publish
        where state = 1
        order by publish_time
        limit 8;
    </select>
    <select id="getSellItemDetail" resultType="com.fy.mobile.entity.user.SellItemDetail">
        select * from fy_sell_publish;
    </select>
    <!--获取我的所有闲置-->
    <select id="listMySellItems" resultType="com.fy.mobile.entity.user.MySellItem">
        select
        sell_id,
        sell_title,
        image,
        sell_description,
        sell_price,
        publish_time,
        state stateCode
        from fy_sell_publish
        <where>
            publisher_id = #{userId}
        </where>
        order by
        sell_id desc
        <if test="orderColumn != null and orderColumn !='' and orderType != null and orderType != '' ">
            , ${orderColumn} ${orderType}
        </if>
    </select>
    <!--获取所有闲置-->
    <select id="listAllSellItems" resultType="com.fy.mobile.entity.user.IndexSellItem">
        select sell_id,
        sell_title,
        sell_description,
        image,
        sell_price
        from fy_sell_publish
        where state = 1
        order by sell_id
    </select>
    <select id="listAllSellItemsByUserId" resultType="com.fy.mobile.entity.user.IndexSellItem">
        select sell_id,
        sell_title,
        sell_description,
        image,
        sell_price,
        state stateCode
        from fy_sell_publish
        where publisher_id = #{userId}
        order by sell_id
    </select>

</mapper>