<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fy.mobile.mapper.user.SellMapper">
    <!--添加需求-->
    <insert id="insertSellPublish">
        insert into fy_sell_publish(publisher_id, publisher_name, sell_title, sell_description,publish_time, image, sell_price, brand_name)
        values (#{publisherId}, #{publisherName}, #{sellTitle}, #{sellDescription}, #{publishTime}, #{image}, #{sellPrice}, #{brandName});
    </insert>
    <select id="listTop8SellItem" resultType="com.fy.mobile.entity.user.IndexSellItem">
        select sell_id,
        sell_title,
        sell_description,
        image,
        sell_price
        from fy_sell_publish
        where state = 1
        order by publish_time
        limit 8;
    </select>

</mapper>