<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fy.mobile.mapper.user.UserLoginMapper">
    <!--添加用户-->
    <insert id="insertUser">
        INSERT INTO fy_user(nickname, tel, password, create_time)
        VALUES (#{nickname}, #{tel}, #{password}, #{createTime});
    </insert>
    <update id="updateUserInfo">
        update fy_user
        <set>
            <if test="tel != null and tel != ''">
                tel = #{tel}
            </if>
            <if test="password != null and password != ''">
                password = #{newPassword}
            </if>
        </set>
        where user_id = #{userId}
        and user_type = 0
    </update>
    <!--普通用户验证登录-->
    <select id="getUserByUsernameAndPassword" resultType="com.fy.mobile.entity.user.UserLoginDTO">
        select
        user_id userId,nickname,tel,password
        from fy_user
        where tel = #{tel} and password = #{password} and user_type = 0 limit 1;
    </select>
    <!--检验手机号是否存在-->
    <select id="getTelAndCheck" resultType="java.lang.String">
        select tel from fy_user where tel = #{tel};
    </select>
    <!--检查昵称是否存在-->
    <select id="getNicknameAndCheck" resultType="java.lang.String">
        select nickname from fy_user where nickname = #{nickname};
    </select>
    <select id="findByUserId" resultType="com.fy.mobile.entity.user.UserLoginDTO">
        select * from fy_user
        where user_id = #{userId}
        and password = #{password}
        and user_type = 0
    </select>
    <!--闲置总数-->
    <select id="getTotalSellCount" resultType="java.lang.Integer">
        select count(*) from fy_sell_publish
        where publisher_id = #{userId}
    </select>
    <!--需求总数-->
    <select id="getTotalNeedCount" resultType="java.lang.Integer">
        select count(*) from fy_need_publish
        where publisher_id = #{userId}
    </select>
    <!--卖出总数-->
    <select id="getTotalSellSuccessCount" resultType="java.lang.Integer">
        select count(*) from fy_order
        where sell_user_id = #{userId}
        and state = 1
    </select>
    <select id="getTotalBuyCount" resultType="java.lang.Integer">
        select count(*) from fy_order
        where buy_user_id = #{userId}
        and state = 1
    </select>
    <select id="getUserByUserId" resultType="com.fy.mobile.entity.user.UserLoginDTO">
        select * from fy_user where user_id = #{userId};
    </select>

</mapper>